<div class="d-flex flex-column">
    <aside class="d-flex w-100">
        <div [ngClass]="toggle ? 'sidebar left' : 'sidebar fliph left'">

            <div class="bar-btn position-absolute text-right"> </div>
            <ul class="list-sidebar bg-default list-unstyled">
                <li>
                    <a *ngIf="!toggle" class=" nav-link d-flex justify-content-end align-items-center"
                        (click)="setToggle()">
                        <i class="fa fa-angle-double-left"></i>
                    </a>

                    <a *ngIf="toggle" class=" nav-link d-flex justify-content-end align-items-center"
                        (click)="setToggle()">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="collapsed active nav-link">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label"> Reference Docs</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link">
                        <i class="fa fa-book"></i>
                        <span class="nav-label">Architecture</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link">
                        <i class="fa fa-book"></i>
                        <span class="nav-label">Threats</span>
                    </a>
                </li>

                <li>
                    <a href="" class="nav-link">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">Vulnerabilities</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">Risks Calculation </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link">
                        <i class="fa fa-credit-card-alt"></i>
                        <span class="nav-label">Traceability Matrix </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link">
                        <i class="fa fa-file-text"></i>
                        <span class="nav-label">Mitigations & Countermeasures</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link">
                        <i class="fa fa-file-video-o"></i>
                        <span class="nav-label">Help </span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="d-flex w-100 flex-column">
            <div class="sidebar-header d-flex justify-content-between  align-items-center w-100">
                <div class="t-dropdown position-relative">
                    <p class="text-dropdown mb-0 ml-4">Text</p>
                    <div class="dropdown-content position-absolute" style="left: 0;">
                        <a href="#">Item 1</a>
                        <a href="#">Item 2</a>
                        <a href="#">Item 3</a>
                    </div>
                </div>
                <div class="d-flex justify-content-between  align-items-center " style="width: 100px;">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <div class="t-dropdown float-right ml-0 position-relative">
                        <div class="mb-0 mr-3">
                            <span class="user">S</span>
                            <span class="text-dropdown "></span>
                        </div>
                        <div class="dropdown-content position-absolute" style="right:0;">
                            <a href="#" (click)="logout()">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
    </aside>
</div>