@import '../../variable.scss';

.user-setting-form-container {
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 95vh;
    padding: 50px;
    background-color: #fff;
}

.user-setting-form-container .title-btn {
    background-color: blueviolet;
    border: none;
    padding: 5px 22px;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 20px;
}

.user-setting-form-container .title-btn:hover,.title-btn:focus {
    background-color: rgb(40, 39, 42);
    outline: none;
}

.user-img {
    padding: 10px;
    border: 1px solid $theme-color;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align-last: center;
    margin-inline: auto;
    position: relative;
}

.user-img img {
    height: 70px;
    width: 60px;
}

.user-img span {
    position: absolute;
    bottom: -7px;
    right: 37px;
    cursor: pointer;
}